<div class="row">
  <div class="col my-auto d-flex flex-row justify-content-center">
    <div>
      <p class="message">404 ОШИБКА</p>
      <h1 class="result">Доступ запрещен</h1>
      <p class="additional">У вас нет прав на просмотр этого раздела</p>

      <a (click)="previous()">Назад -></a>
      <br>
      <a routerLink="/">На главную -></a>
    </div>
  </div>
  <div class="col">
    <img src="{{urlImg}}" alt="Картинка" class="background-image vh-100 vw-50">
    <div ></div>
  </div>
</div>
